<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.subroto.english.hotelmanagement">

    <application
        android:name=".EFHMApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.slider.MainActivity"/>
        <activity android:name=".ui.main.home.HomeActivity"/>
        <activity android:name=".ui.main.vocabulary.VocabularyActivity"/>
        <activity android:name=".ui.main.sentence.SentenceActivity"/>
        <activity android:name=".ui.main.conversation.ConversationActivity"/>
        <activity android:name=".ui.main.vocabulary.geeting.GeetingActivity"/>
        <activity android:name=".ui.main.vocabulary.foods.VocabularyFoodsActivity"/>
        <activity android:name=".ui.main.vocabulary.service.VocabularyServiceActivity"/>
        <activity android:name=".ui.main.vocabulary.reception.VocabularyReceptionActivity"/>
        <activity android:name=".ui.main.vocabulary.kitchen.VocabularyKitchenActivity"/>
        <activity android:name=".ui.main.conversation.reception.ConversationReceptionActivity"/>
        <activity android:name=".ui.main.conversation.service.ConversationServiceActivity"/>
        <activity android:name=".ui.main.conversation.foods.ConversationFoodsActivity"/>
        <activity android:name=".ui.main.conversation.geetings.ConversationGeetingsActivity"/>
        <activity android:name=".ui.main.conversation.kitchen.ConversationKitchenActivity"/>
        <activity android:name=".ui.main.sentence.geetings.SentenceGeetingsActivity"/>
        <activity android:name=".ui.main.sentence.kitchen.SentenceKitchenActivity"/>
        <activity android:name=".ui.main.sentence.reception.SentenceReceptionActivity"/>
        <activity android:name=".ui.main.sentence.service.SentenceServiceActivity"/>
        <activity android:name=".ui.main.sentence.foods.SentenceFoodsActivity"/>
        <activity android:name=".ui.main.quiz.QuizActivity"/>
        <activity android:name=".ui.main.quiz.about_quiz.AboutQuizDialog"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".ui.main.quiz.level01.QuizLevelOneActivity"/>
        <activity android:name=".ui.main.quiz.level02.QuizLevelTwoActivity"/>
        <activity android:name=".ui.main.quiz.level03.QuizLevelThreeActivity"/>
        <activity android:name=".ui.main.quiz.quiz_progress.ProgressResultActivity"/>

    </application>

</manifest>